<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入职欢迎邮件</title>
</head>
<body>
欢迎<span th:text="${name}"></span> 加入我们，您的入职信息如下：
<table border="1">
    <tr>
        <td>姓名</td>
        <td th:text="${name}"></td>
    </tr>
    <tr>
        <td>职位</td>
        <td th:text="${posname}"></td>
    </tr>
    <tr>
        <td>职称</td>
        <td th:text="${joblname}"></td>
    </tr>
    <tr>
        <td>部门</td>
        <td th:text="${depname}"></td>
    </tr>
</table>

<p>希望在接下来的日子里，携手共进啦啦啦啦</p>
</body>
</html>